.text-primary-400 {
    color: $clr-primary-400;
  }

  .text-accent-100 {
    color: $clr-accent-100;
  }

  .text-accent-400 {
    color: $clr-accent-400;
  }

  .text-neutral-100 {
    color: $clr-neutral-100;
  }

  .text-neutral-900 {
    color: $clr-neutral-900;
  }

  .bg-primary-400 {
    background-color: $clr-primary-400;
  }

  .bg-accent-100 {
    background-color: $clr-accent-100;
  }

  .bg-accent-400 {
    background-color: $clr-accent-400;
  }

  .bg-neutral-100 {
    background-color: $clr-neutral-100;
  }

  .bg-neutral-900 {
    background-color: $clr-neutral-900;
  }

  .fs-300 {
    font-size: $fs-300;
  }

  .fs-400 {
    font-size: $fs-400;
  }

  .fs-500 {
    font-size: $fs-500;
  }

  .fs-600 {
    font-size: $fs-600;
  }

  .fs-700 {
    font-size: $fs-700;
  }
  .fs-750 {
    font-size: $fs-750;
  }

  .fs-800 {
    font-size: $fs-800;
  }

  .fs-900 {
    font-size: $fs-900;
  }

  .fw-regular {
    font-weight: $fw-regular;
  }

  .fw-semi-bold {
    font-weight: $fw-semi-bold;
  }

  .fw-bold {
    font-weight: $fw-bold;
  }